html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
del {
  text-decoration: line-through;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
div,
fieldset,
input,
textarea {
  -webkit-box-sizing: ;
  -moz-box-sizing: ;
  box-sizing: ;
}
form {
  margin-bottom: 1.5em;
}
fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}
legend {
  margin-top: -0.2em 0 1em 0;
  font-weight: bold;
  font-size: 1.2em;
}
label {
  font-weight: normal;
}
button,
input,
select,
textarea {
  margin: 0;
}
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
input,
select {
  vertical-align: middle;
}
input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=url],
input[type=search],
textarea {
  padding: 2px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  font-family: inherit;
  font-size: inherit;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus {
  border-color: #646464;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  -webkit-box-shadow: 0 0 2px #f00;
  -moz-box-shadow: 0 0 2px #f00;
  -webkit-box-shadow: 0 0 2px #f00;
  -moz-box-shadow: 0 0 2px #f00;
  -o-box-shadow: 0 0 2px #f00;
  box-shadow: 0 0 2px #f00;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
select {
  margin: 0.5em 0;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
textarea {
  overflow: auto;
  padding: 2px;
}
button {
  width: auto;
  padding: 8px 12px 9px;
  overflow: visible;
  background-color: #e3e3e3;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 0.875em;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}
button:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}
.ie6 input {
  vertical-align: text-bottom;
}
.ie7 input[type="checkbox"],
.iem7 input[type="checkbox"] {
  vertical-align: baseline;
}
strong {
  font-weight: bold;
}
a {
  color: #1b1b1b;
  text-decoration: none;
}
a:hover {
  color: #1b1b1b;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #1b1b1b;
  text-shadow: rgba(255,255,255,0.5) 0 2px 0;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  background: #000;
  width: 640px;
}
body #container {
  width: 640px;
  background: #1e1e1e;
}
body #container header.app {
  display: none;
}
body #container header.app img {
  vertical-align: top;
}
body #container section {
  border-bottom: 2px solid #323232;
}
body #container section.header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #d6d6d6));
  background: -moz-linear-gradient(top, #fff 0%, #d6d6d6 100%);
  background: linear-gradient(top, #fff 0%, #d6d6d6 100%);
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #282828), color-stop(1, #1e1e1e));
  background: -moz-linear-gradient(top, #282828 0%, #1e1e1e 100%);
  background: linear-gradient(top, #282828 0%, #1e1e1e 100%);
}
body #container section.header .icon {
  display: table-cell;
}
body #container section.header .icon img {
  height: 100px;
  width: 100px;
  display: block;
  margin: 1em;
  background: #fff;
  background: rgba(255,255,255,0.1);
  -webkit-box-shadow: rgba(0,0,0,0.6) 0 0 1em;
  -moz-box-shadow: rgba(0,0,0,0.6) 0 0 1em;
  -o-box-shadow: rgba(0,0,0,0.6) 0 0 1em;
  box-shadow: rgba(0,0,0,0.6) 0 0 1em;
}
body #container section.header .title {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding: 1em 0;
}
body #container section.header .title h1 {
  font: bold 200%/50px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: #000 0 2px 0;
}
body #container section.header .title menu.actions {
  position: absolute;
  right: 0;
  bottom: 0;
}
body #container section.header .title menu.actions ul {
  float: right;
}
body #container section.header .title menu.actions ul li {
  display: block;
  float: left;
  padding: 6px 22px;
  width: 214px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6ea7f7), color-stop(0.5, #257bf4), color-stop(0.5, #0d6cf2), color-stop(1, #3d8af5));
  background: -moz-linear-gradient(top, #6ea7f7 0%, #257bf4 50%, #0d6cf2 50%, #3d8af5 100%);
  background: linear-gradient(top, #6ea7f7 0%, #257bf4 50%, #0d6cf2 50%, #3d8af5 100%);
  border: 2px solid #0a57c2;
  border-right: none;
  -webkit-box-shadow: rgba(0,0,0,0.15) 0 0 1em;
  -moz-box-shadow: rgba(0,0,0,0.15) 0 0 1em;
  -o-box-shadow: rgba(0,0,0,0.15) 0 0 1em;
  box-shadow: rgba(0,0,0,0.15) 0 0 1em;
  zoom: 1;
  font: bold 150%/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-shadow: rgba(0,0,0,0.3) 0 2px 0;
}
body #container section.header .title menu.actions ul li:before,
body #container section.header .title menu.actions ul li:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
body #container section.header .title menu.actions ul li:after {
  clear: both;
}
body #container section.header .title menu.actions ul li.checkbox {
  -webkit-border-radius: 0.5em 0 0 0;
  -moz-border-radius: 0.5em 0 0 0;
  -o-border-radius: 0.5em 0 0 0;
  border-radius: 0.5em 0 0 0;
}
body #container section.header .title menu.actions ul li.checkbox label {
  float: left;
  color: #fff;
}
body #container section.header .title menu.actions ul li.checkbox .checkbox {
  float: right;
  border: 2px solid rgba(0,0,0,0.2);
  margin: 4px 0;
  background: rgba(0,0,0,0.4);
  height: 24px;
  width: 24px;
  -webkit-box-shadow: inset rgba(0,0,0,0.25) 0 0 0.2em;
  -moz-box-shadow: inset rgba(0,0,0,0.25) 0 0 0.2em;
  -o-box-shadow: inset rgba(0,0,0,0.25) 0 0 0.2em;
  box-shadow: inset rgba(0,0,0,0.25) 0 0 0.2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
body #container section.header .title menu.actions ul li.checkbox .checkbox:after {
  content: "\2713";
  display: block;
  line-height: 24px;
  color: #fff;
  width: 24px;
  text-align: center;
}
body #container section.header .title menu.actions ul li.play a.play {
  padding: 10px 22px;
}
body #container section.header .title menu.actions ul li.play a.play p {
  color: #fff;
}
body #container section.header .title menu.actions ul li.play a.play p.verb {
  float: left;
}
body #container section.header .title menu.actions ul li.play a.play p.price {
  float: right;
}
body #container section.header .title menu.actions ul li.play a.play p.price .currency {
  color: rgba(255,255,255,0.6);
  text-shadow: none;
}
body #container section.stats ul {
  zoom: 1;
  color: rgba(255,255,255,0.75);
  text-shadow: #000 0 2px 0;
  border-bottom: 2px solid #1e1e1e;
}
body #container section.stats ul:before,
body #container section.stats ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
body #container section.stats ul:after {
  clear: both;
}
body #container section.stats ul li {
  width: 213px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  border-top: 2px solid rgba(255,255,255,0.15);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.1)), color-stop(0.5, rgba(255,255,255,0.03)), color-stop(0.5, transparent), color-stop(1, rgba(255,255,255,0.05)));
  background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.03) 50%, transparent 50%, rgba(255,255,255,0.05) 100%);
  background: linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.03) 50%, transparent 50%, rgba(255,255,255,0.05) 100%);
  padding: 1em;
}
body #container section.stats ul li:not(:first-of-type) {
  border-left: 2px solid #1e1e1e;
}
body #container section.stats ul li p.label {
  color: rgba(255,255,255,0.5);
}
body #container section.stats ul li p.data {
  font: bold 200% "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body #container section.summary {
  border-top: 2px solid #fff;
  padding: 1em 1em 0;
  font-size: 150%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1d1d1), color-stop(1, #b8b8b8));
  background: -moz-linear-gradient(top, #d1d1d1 0%, #b8b8b8 100%);
  background: linear-gradient(top, #d1d1d1 0%, #b8b8b8 100%);
}
body #container section.summary p {
  margin: 0 0 1em;
}
body #container section.tips nav {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1d1d1), color-stop(1, #b8b8b8));
  background: -moz-linear-gradient(top, #d1d1d1 0%, #b8b8b8 100%);
  background: linear-gradient(top, #d1d1d1 0%, #b8b8b8 100%);
  height: 3em;
}
body #container section.tips nav ul li {
  display: inline-block;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
body #container section.tips nav ul li:not(:first-of-type) {
  border-left: 2px solid rgba(0,0,0,0.3);
}
body #container section.tips nav ul li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 78px;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid rgba(255,255,255,0.5);
  border-left: 2px solid rgba(255,255,255,0.5);
  font: bold 150% "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 40px;
  height: 48px;
}
body #container section.tips nav ul li.current a {
  width: 320px;
  line-height: 46px;
}
body #container section.tips nav ul li.new a {
  width: 157px;
}
body #container section.tips ul.tips li.tip {
  -webkit-box-shadow: inset #000 0 0 1em;
  -moz-box-shadow: inset #000 0 0 1em;
  -o-box-shadow: inset #000 0 0 1em;
  box-shadow: inset #000 0 0 1em;
  color: #ccc;
  text-shadow: #000 0 2px 0;
  padding: 2em 80px;
}
body #container section.tips ul.tips li.tip .content {
  font-size: 150%;
}
body #container section.tips ul.tips li.tip p.meta {
  font-size: 150%;
  color: #999;
}
body #container section.tips ul.tips li.tip p.meta span {
  font-weight: bold;
  color: #ccc;
}
body #container section.tips ul.tips li.tip p.meta span.author {
  color: #38f;
}
body #container section.boss header {
  font: bold 150%/2 "Helvetica Neue", Arial, Helvetica, sans-serif;
  border-top: 2px solid #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1d1d1), color-stop(1, #b8b8b8));
  background: -moz-linear-gradient(top, #d1d1d1 0%, #b8b8b8 100%);
  background: linear-gradient(top, #d1d1d1 0%, #b8b8b8 100%);
  border-bottom: 2px solid #323232;
  text-align: center;
}
body #container section.boss .content {
  border-top: 2px solid #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1d1d1), color-stop(1, #b8b8b8));
  background: -moz-linear-gradient(top, #d1d1d1 0%, #b8b8b8 100%);
  background: linear-gradient(top, #d1d1d1 0%, #b8b8b8 100%);
}
body #container section.boss .content .user {
  zoom: 1;
  padding: 2em 80px 3em;
}
body #container section.boss .content .user:before,
body #container section.boss .content .user:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
body #container section.boss .content .user:after {
  clear: both;
}
body #container section.boss .content .user .name {
  text-align: center;
  font: bold 200%/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 0 0.5em;
}
body #container section.boss .content .user img.avatar {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background: rgba(255,255,255,0.5);
  margin-right: 2em mar 0 0 2em;
  padding: 1em;
  border: 2px solid rgba(255,255,255,0.75);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0,0,0,0.25) 0 0 2em;
  -moz-box-shadow: rgba(0,0,0,0.25) 0 0 2em;
  -o-box-shadow: rgba(0,0,0,0.25) 0 0 2em;
  box-shadow: rgba(0,0,0,0.25) 0 0 2em;
}
