@import 'm/all'
@import 'd/all'

m = 16px
txt = #fff

link = hsl(218,100,53)

strong
  font-weight bold

dfont()
  fs m
  lh 1.5
  ff sans
  color txt
  font-smoothing()
  text-shadow #000 0 2px 0

inset-border()
  bt 2px solid b40
  br 2px solid w10
  bb 2px solid w10

img
  vertical-align top

a
  color link
  text-decoration none
  fw bold
  &:hover, &:visited
    color link

bot = #000
slate()
  background m25 url(../i/texture.jpg)

html, body
  width 640px

body
  dfont()
  fs 162.5%
  bg bot
  width 640px

  #container
    width 640px
    min-height 960px
    bg bot

    header.app
      display none
      img
        vertical-align top

    section
      slate()
      mar 0 0 m*.5
      box-shadow inset b20 0 -24px m*2
      header
        pad m*2 0
        clearfix()
        h1
          pl m*2
          float left
          fs 150%
        menu
          float right
          mr m*2
          ul
            clearfix()
            background linear-gradient(top, b25, b35)
            box-shadow inset b50 0 0 m*.5
            border-radius .5em
            inset-border()
            li
              float left
              &:not(:last-of-type)
                br 2px solid w7
              &:not(:first-of-type)
                bl 2px solid b50
              a
                box-sizing()
                pad 0 m
                width c
                display block
                font bold 150% sans
                text-align center
                lh m*2.35
                height m*3
                color #999

      .content
        pad 0 m*2 m*2
        p
          pad 0 0 m*2

      &.menu.actions
        pad 0
        mar 0
        box-shadow b35 0 16px m
        position relative
        z-index 100
        bb 2px solid b20
        ul
          li
            display inline-block
            pad m m*2
            box-sizing()
            width 50%
            color hsl(215,80,45)
            fw bold

            &.checkbox
              br 2px solid w7
              label
                float left
                color #fff

              .checkbox
                float right
                mar m*.5 - 4px 0
                square m*1.5
                border 2px solid w50
                &:after
                  content "\2713"
                  display block
                  lh m*1.5
                  color #fff
                  width m*1.5
                  text-align center
            
            &.play
              bl 2px solid b50
              a.play
                pad m*.75 - 2px m*1.5 - 2px
                p
                  color #fff
                  &.verb
                    float left
                  &.price
                    float right
                    .currency
                      color w60
      &.banner
        width 640px
        height 320px
        pad 0
        mar -2px 0
        bg m80
        .img
          background url(../i/header2.jpg) no-repeat
          height 320px
          width 640px
          display block
          box-shadow inset #000 0 0 m*2

      &.summary
        box-shadow b25 0 -16px m
        header
          bg b25
          position relative
          top 2px
          box-shadow b30 0 3px 10px
          box-shadow inset b20 0 0 m*2
          h1 
            float left
            fw bold
            color #fff

          .icon
            float right
            square m*4
            mr m*2
            border-radius .5em
            position relative
            inset-border()
            &:after
              content ""
              display block
              square m*4
              box-shadow inset #000 0 0 m
              position absolute
              top 0
              left 0
              border-radius .5em
            .img
              square 58px
              background: url(i/icon_58x58.jpg) 
              mar 3px
              border-radius .4em

        .content
          pad m*2
        
     
      &.stats
        ul
          clearfix()
          li
            width 213px
            box-sizing()
            float left
            &:not(:last-of-type)
              br 2px solid bot
              .stat
                br 2px solid w7
            .stat
              pad m*2 m*2
              p
                &.label
                  color #999
                  mar 0 0 .25em
                &.data
                  fs 150%


      &.tips
        pad 0 0 m*2
        ul.tips
          li.tip
            cite
              color #999
              span
                fw bold
                color #ccc
                &.author
                  color hsl(215,100,60)

      &.boss
        .content
          pad 0 m*2 m*4
          .user
            bg b30
            background linear-gradient(top, b25, b35)
            box-shadow inset b50 0 0 m*.5
            border-radius .5em
            inset-border()
            clearfix()
            pad m*2
            
            p
              pad 0
              lh 50px
              a.name
                fs 150%
            
              &.since
                color #999
                span
                  fw bold
                  color txt

            .avatar
              display block
              float left
              square 100px
              mr m*2
              slate()
              border-radius .3em
              box-shadow b30 0 0 m
              font bold 1.5em/100px sans
              text-align center

