html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:top}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
del{text-decoration:line-through}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
ul,ol{list-style:none}
div,fieldset,input,textarea{-webkit-box-sizing:;-moz-box-sizing:;box-sizing:}
form{margin-bottom:1.5em}
fieldset{margin-bottom:1.5em;padding:0;border-width:0}
legend{margin-top:-.2em 0 1em 0;font-weight:bold;font-size:1.2em}
label{font-weight:normal}
button,input,select,textarea{margin:0}
label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer}
input,select{vertical-align:middle}
input[type=text],input[type=password],input[type=tel],input[type=email],input[type=url],input[type=search],textarea{padding:2px;width:100%;background-color:#fff;border:1px solid #c8c8c8;font-family:inherit;font-size:inherit}
input[type=text]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=email]:focus,input[type=url]:focus,input[type=search]:focus,textarea:focus{border-color:#646464}
input[type="radio"]{vertical-align:text-bottom}
input[type="checkbox"]{vertical-align:bottom}
input:valid,textarea:valid,input:invalid,textarea:invalid{-webkit-box-shadow:0 0 2px #f00;-moz-box-shadow:0 0 2px #f00;-webkit-box-shadow:0 0 2px #f00;-moz-box-shadow:0 0 2px #f00;-o-box-shadow:0 0 2px #f00;box-shadow:0 0 2px #f00}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}
select{margin:.5em 0;background-color:#fff;border-width:1px;border-style:solid}
textarea{overflow:auto;padding:2px}
button{width:auto;padding:8px 12px 9px;overflow:visible;background-color:#e3e3e3;border:1px solid #ccc;border-bottom-color:#bbb;font-family:"Helvetica Neue",Helvetica,Arial;font-size:.875em;font-weight:bold;text-align:center;line-height:1;color:#333;text-shadow:0 1px 0 #fff}
button:hover{cursor:pointer;background-color:#d9d9d9}
.ie6 legend,.ie7 legend{margin-left:-7px}
.ie6 input{vertical-align:text-bottom}
.ie7 input[type="checkbox"],.iem7 input[type="checkbox"]{vertical-align:baseline}
strong{font-weight:bold}
img{vertical-align:top}
a{color:#0f67ff;text-decoration:none;font-weight:bold;}
a:hover,a:visited{color:#0f67ff}
html,body{width:640px}
body{font-size:16px;line-height:1.5;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;color:#fff;-webkit-font-smoothing:antialiased;text-shadow:#000 0 2px 0;font-size:162.5%;background:#000;width:640px;overflow-x:hidden;}
body #container{width:640px;min-height:960px;background:#000;}
body #container header.app{display:none;}
body #container header.app img{vertical-align:#191919 url("../i/texture.jpg")}
body #container section{border-bottom:2px solid #000;background:#191919 url("../i/texture.jpg");margin:0 0 8px;-webkit-box-shadow:inset rgba(0,0,0,0.25) 0 -10px 16px;-moz-box-shadow:inset rgba(0,0,0,0.25) 0 -10px 16px;-o-box-shadow:inset rgba(0,0,0,0.25) 0 -10px 16px;box-shadow:inset rgba(0,0,0,0.25) 0 -10px 16px;}
body #container section header{padding:32px 0;zoom:1;}
body #container section header:before,body #container section header:after{content:"\0020";display:block;height:0;overflow:hidden}
body #container section header:after{clear:both}
body #container section header h1{padding-left:32px;float:left;font-size:150%}
body #container section header menu{float:right;}
body #container section header menu ul{zoom:1;}
body #container section header menu ul:before,body #container section header menu ul:after{content:"\0020";display:block;height:0;overflow:hidden}
body #container section header menu ul:after{clear:both}
body #container section header menu ul li{float:left;}
body #container section header menu ul li a{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;padding:0 16px;width:80px;display:block;font:bold 150% "Helvetica Neue",Arial,Helvetica,sans-serif;line-height:40px;height:48px}
body #container section .content{padding:0 32px 32px;}
body #container section .content p{padding:0 0 32px}
body #container section.menu.actions{padding:0;}
body #container section.menu.actions ul li{display:inline-block;padding:16px 32px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;width:50%;color:#1763cf;font-weight:bold;}
body #container section.menu.actions ul li.checkbox label{float:left;color:#fff}
body #container section.menu.actions ul li.checkbox .checkbox{float:right;margin:4px 0;height:24px;width:24px;border:2px solid #fff;}
body #container section.menu.actions ul li.checkbox .checkbox:after{content:"\2713";display:block;line-height:24px;color:#fff;width:24px;text-align:center}
body #container section.menu.actions ul li.play{border-left:1px solid #000;}
body #container section.menu.actions ul li.play a.play{padding:10px 22px;}
body #container section.menu.actions ul li.play a.play p{color:#fff;}
body #container section.menu.actions ul li.play a.play p.verb{float:left}
body #container section.menu.actions ul li.play a.play p.price{float:right;}
body #container section.menu.actions ul li.play a.play p.price .currency{color:rgba(255,255,255,0.6)}
body #container section.banner{width:640px;height:320px;padding:0;margin:0;background:#505050;}
body #container section.banner p{display:none;font:3em/320px "Helvetica Neue",Arial,Helvetica,sans-serif;text-align:center;color:#646464}
body #container section.summary header{background:rgba(0,0,0,0.25);position:relative;top:2px;border-bottom:2px solid rgba(0,0,0,0.5);-webkit-box-shadow:rgba(0,0,0,0.3) 0 3px 10px;-moz-box-shadow:rgba(0,0,0,0.3) 0 3px 10px;-o-box-shadow:rgba(0,0,0,0.3) 0 3px 10px;box-shadow:rgba(0,0,0,0.3) 0 3px 10px;}
body #container section.summary header h1{float:left;font-weight:bold;color:#fff}
body #container section.summary header .icon{float:right;height:64px;width:64px;margin-right:32px;border-top:2px solid rgba(0,0,0,0.4);border-right:2px solid rgba(255,255,255,0.1);border-bottom:2px solid rgba(255,255,255,0.2);border-left:2px solid rgba(0,0,0,0.2);-webkit-border-radius:.5em;-moz-border-radius:.5em;-o-border-radius:.5em;border-radius:.5em;position:relative;}
body #container section.summary header .icon:after{content:"";display:block;height:64px;width:64px;-webkit-box-shadow:inset #000 0 0 16px;-moz-box-shadow:inset #000 0 0 16px;-o-box-shadow:inset #000 0 0 16px;box-shadow:inset #000 0 0 16px;position:absolute;top:0;left:0;-webkit-border-radius:.5em;-moz-border-radius:.5em;-o-border-radius:.5em;border-radius:.5em}
body #container section.summary header .icon .img{height:58px;width:58px;background:url("i/icon_58x58.jpg");margin:3px;-webkit-border-radius:.4em;-moz-border-radius:.4em;-o-border-radius:.4em;border-radius:.4em}
body #container section.summary .content{padding:32px;border-top:2px solid rgba(255,255,255,0.1)}
body #container section.stats ul{zoom:1;}
body #container section.stats ul:before,body #container section.stats ul:after{content:"\0020";display:block;height:0;overflow:hidden}
body #container section.stats ul:after{clear:both}
body #container section.stats ul li{width:213px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;float:left;padding:32px 32px;}
body #container section.stats ul li:not(:last-of-type){border-right:2px solid #000}
body #container section.stats ul li p.label{color:rgba(255,255,255,0.5);margin:0 0 .25em}
body #container section.stats ul li p.data{font-size:150%}
body #container section.tips{padding:0 0 32px;}
body #container section.tips ul.tips li.tip cite{color:#999;}
body #container section.tips ul.tips li.tip cite span{font-weight:bold;color:#ccc;}
body #container section.tips ul.tips li.tip cite span.author{color:#38f}
body #container section.boss .content{padding:0 32px 64px;zoom:1;}
body #container section.boss .content:before,body #container section.boss .content:after{content:"\0020";display:block;height:0;overflow:hidden}
body #container section.boss .content:after{clear:both}
body #container section.boss .content p{padding:0}
body #container section.boss .content .since{color:#999;}
body #container section.boss .content .since span{font-weight:bold;color:#fff}
body #container section.boss .content img.avatar{display:block;height:100px;width:100px;margin-right:32px;float:left}
